# Passos para configurar o ambiente:
# 1. Crie um ambiente virtual:
#    python3 -m venv pointnet_env
# 2. Ative o ambiente virtual:
#    No Linux/macOS: source pointnet_env/bin/activate
#    No Windows: pointnet_env\Scripts\activate
# 3. Instale as dependências:
#    pip install -r requirements.txt
tensorflow
numpy
open3d
scikit-learn
matplotlib
torch
torchvision
torchaudio
filterpy